@import url(./globals.css);
@import url(./partials/login.css);
@import url(./partials/chat.css);

.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}